# yaml-language-server: $schema=../../../etc/empty-schema.json
# NOTE: VS Code YAML may mis-associate 'prometheus.yml' with Prometheus server schema.
# Using a neutral filename avoids false errors while Grafana still provisions correctly.
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://localhost:9090
    password: ''
    user: ''
    database: ''
    basicAuth: false
    isDefault: true
    jsonData:
      timeInterval: 15s
    editable: true

  - name: PrometheusSyncBrain
    type: prometheus
    access: proxy
    orgId: 1
    url: http://localhost:9090
    password: ''
    user: ''
    database: ''
    basicAuth: false
    jsonData:
      timeInterval: 5s
    editable: true
